/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--main-color);
  font-size: var(--main-font-size);
  font-style: normal;
  line-height: normal;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* Хэдер — флекс-контейнер с флекс-карточкой. Размер заголовков и карточки реализован через clamp() */

.header {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.header_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--main-color);
  padding: 120px 0;
  overflow: auto; /* Поменяла значение.
  При 320px header__title не помещается в блок и выпадает за пределы,
  и удалив overflow страница не будет соответствовать макету */
  background-color: var(--bg-color);
  inline-size: clamp(320px, 100%, 700px);
}

.header_title {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header_description {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

/* Cекции — флекс-контейнер с флекс-карточкой. Размер заголовков и паддингов реализован через clamp() */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  inline-size: clamp(320px, 100%, 700px);
}

.card_title {
  border-bottom: 2px solid var(--main-color);
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--bold-font-weight);
}

.card_img {
  position: relative;
  width: 100%;
  border: none;
  object-fit: contain;
  object-position: center;
}

.img_contrast {
  filter: contrast(150%);
}

.img_blur {
  filter: blur(0.2rem);
}

.img_opacity {
  filter: opacity(0.8);
}

.img_grayscale {
  filter: grayscale(0.8);
}

.img_saturate {
  filter: saturate(158%);
}

.img_invert {
  filter: invert(0.7);
}

.img_sepia_brightness {
  filter: sepia(80%) brightness(150%);
}

.watermark {
  position: absolute;
  top: 23px;
  right: 11px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
   text-shadow: none;
    -webkit-text-stroke: 1px #FFF;
   text-stroke: 1px #fff;
  }
}

.card_description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px solid var(--main-color);
  padding: 26px 25px 21px;
}

.card_description_text {
  margin-bottom: 2px;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.card_description_text:last-of-type {
  margin-bottom: 0;
}

.card:first-child .card_description {
  padding: 26px 25px 21px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap: 4px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  align-self: center;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--bg-color);
  transition: border-color 0.3s ease;
}

.button-style {
  position: relative;
  border: 2px solid var(--main-color);
  padding-block-start: 10.5px;
  padding-block-end: 10.5px;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  inline-size: 130px;
}

.card:nth-child(6) {
  margin-top: 1px; /* Макет в фигме немного едет к низу, скорее всего это связано с бордерами, поэтому я добавила доп отступ, чтобы больше сходилось*/
}

/* Футер — флекс-контейнер с флекс-карточкой. Размер кнопки и диалога реализован через clamp() */

.dialog_floppy{
  display: flex;
  justify-content: center;
  padding: 51px 32px 100px;
}

.dialog_floppy > .button-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 14px 0;
  inline-size: clamp(310px, 100%, 339px);
}

.dialog_floppy .floppy {
  position: relative;
  z-index: 2;
  object-fit: contain;
  color: var(--bg-color);
  inline-size: 28px;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: min-content;
  border: 2px solid var(--main-color);
  padding: 30px 40px;
  overflow: hidden;
  inline-size: clamp(341px, 100%, 357px);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__description > .floppy {
  flex-shrink: 0;
  object-fit: contain;
  inline-size: 39px;
}

.dialog__text {
  flex-grow: 0;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog .button-style {
  padding-block-start: 9px;
  padding-block-end: 8px;
  inline-size: 257px;
}

.dialog .button__text {
  text-transform: uppercase;
}

/* Состояния кнопок */

.button-style:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  outline: 0;
}

.button-style::after {
  content: ' ';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 110%;
}

.button-style:is(:hover)::after {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

@media (width >= 1440px) {
  .header_card {
    padding: 128px 0;
  }

  .watermark {
    top: 27px;
    right: 25px;
  }

  .сard:first-child .card_description {
    padding: 26px 25px 22px;
  }

  .dialog_floppy > .button-style {
    flex-direction: row;
    padding: 15px 0;
  }

  .dialog_floppy .floppy {
    inline-size: 21px;
  }

  .dialog {
    padding: 30px 30px;
  }

  .dialog__description > .floppy {
    inline-size: 39px;
  }

  .dialog .button-style {
    padding-block-start: 9px;
    padding-block-end: 9px;
    inline-size: 293px;
  }
}
